body {
    background-color: white;
    color: white;
}

h2[name="card_name"]{
    font-family: Georgia, serif;
}

h6[name="card_label_name"]{
    font-family: Georgia, serif;
}

a[name="card_profile"] {
    color: black; 
    font-size: 20px; 
    text-decoration: none; 
    font-family: 'Trebuchet MS', sans-serif;
}

a[name="card_profile"]:hover {
    text-decoration: underline;
}