body {
    background-color: white;
    color: white;
}

h1[name="card_title_projects"]{
    font-family: Georgia, serif;
    text-align: center;
    font-weight: bold;
}

p[name="card_details_projects"]{
    font-family: Georgia, serif;
    font-size: 19px;
    text-align: center;
}

img {
    border: 3px solid #555;
}
